@{
    ViewData["Title"] = "About";
}
<br />
<h2>About</h2>
<p>This is an application where you can create, read, update, and delete movies.</p>
<p>Check out the app <a href="https://localhost:44335/Movies">here</a>.</p>
