@{
    ViewData["Title"] = "Contact";
}
<br />
<h2>@ViewData["Title"]</h2>
<h3>Grant Eric</h3>

<address>
    29 N Wacker Dr.<br />
    4th Floor
    Chicago, IL 60606<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Email:</strong> <a href="mailto:geric@rightpoint.com">geric@rightpoint.com</a><br />
</address>
